<?xml version="1.0" encoding="UTF-8"?>
<con:restMockService xmlns:con="http://eviware.com/soapui/config" port="8017" path="/" host="localhost" name="Magic Virtual Service" id="5e3db7fa-48df-49b8-b336-8df2b1a015df">
  <con:settings id="31931e79-4bb5-4a74-9643-475155b81759">
    <con:setting id="5e3db7fa-48df-49b8-b336-8df2b1a015dffileName">Magic-Virtual-Service</con:setting>
  </con:settings>
  <con:properties/>
  <con:constraints>
    <con:congestion>0</con:congestion>
    <con:inputBandwidth>-1</con:inputBandwidth>
    <con:outputBandwidth>-1</con:outputBandwidth>
    <con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity>
    <con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity>
    <con:minLatency>0</con:minLatency>
    <con:virtError>
      <con:start>0</con:start>
      <con:endless>true</con:endless>
    </con:virtError>
  </con:constraints>
  <con:dataSources>
    <con:dataSource>
      <con:dataSource type="Grid">
        <con:configuration>
          <check><![CDATA[<xml-fragment><con:entry xmlns:con="http://eviware.com/soapui/config">true</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config">true</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config">true</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config">true</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config">true</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config">true</con:entry></xml-fragment>]]></check>
          <row><![CDATA[<xml-fragment><con:entry xmlns:con="http://eviware.com/soapui/config">itemName</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config">itemID</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config">manName</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config">manPhone</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config"/></xml-fragment>]]></row>
          <row><![CDATA[<xml-fragment><con:entry xmlns:con="http://eviware.com/soapui/config">Widget Adapter</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config">d290f1ee-6c54-4b01-90e6-d701748f0851</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config">ACME Corporation</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config">408-867-5309</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config"/></xml-fragment>]]></row>
          <row><![CDATA[<xml-fragment><con:entry xmlns:con="http://eviware.com/soapui/config">Mobile Extender</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config">d290f1ee-6c54-4b01-01d7-d701748g1962</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config">Initech</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config">357-561-8521</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config"/></xml-fragment>]]></row>
          <row><![CDATA[<xml-fragment><con:entry xmlns:con="http://eviware.com/soapui/config">Hardware Maintainer</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config">d290f1ee-6c54-4b01-12e8-d701748h2073</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config">Sussex Corp</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config">386-234-3068</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config"/></xml-fragment>]]></row>
          <row><![CDATA[<xml-fragment><con:entry xmlns:con="http://eviware.com/soapui/config">Software Cleaner</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config">d290f1ee-6c54-4b01-23f9-d701748i3184</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config">Globex International</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config">854-994-5222</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config"/></xml-fragment>]]></row>
          <row><![CDATA[<xml-fragment><con:entry xmlns:con="http://eviware.com/soapui/config">Digital Optimizer</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config">d290f1ee-6c54-4b01-34g0-d701748j4295</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config">Hooli</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config">650-212-6478</con:entry><con:entry xmlns:con="http://eviware.com/soapui/config"/></xml-fragment>]]></row>
          <recognizeAsPlainText>true</recognizeAsPlainText>
        </con:configuration>
      </con:dataSource>
      <con:name>Data Source 1</con:name>
      <con:property>itemName</con:property>
      <con:property>itemID</con:property>
      <con:property>manName</con:property>
      <con:property>manPhone</con:property>
    </con:dataSource>
    <con:dataSource>
      <con:dataSource type="Excel">
        <con:configuration>
          <file>C:/Users/Corey.Vernon/Desktop/Gartner/GartnerData.xlsx</file>
          <worksheet/>
          <cell>A1</cell>
          <ignoreEmpty>false</ignoreEmpty>
          <evaluateFormulas>false</evaluateFormulas>
        </con:configuration>
      </con:dataSource>
      <con:name>Data Source 2</con:name>
      <con:property>itemName</con:property>
      <con:property>itemID</con:property>
      <con:property>manName</con:property>
      <con:property>manPhone</con:property>
    </con:dataSource>
    <con:dataSource>
      <con:dataSource type="Data Generator">
        <con:configuration>
          <generatedDataCount>10</generatedDataCount>
          <generatorsTotalNumber>1</generatorsTotalNumber>
          <lastSelectedProperty>0</lastSelectedProperty>
          <GeneratorType0>INT</GeneratorType0>
          <PropertyName0>itemNumber</PropertyName0>
          <repetitionCountitemNumber>0</repetitionCountitemNumber>
          <repeatValuesitemNumber>false</repeatValuesitemNumber>
          <IntegerDataGeneratorMinValueitemNumber>1</IntegerDataGeneratorMinValueitemNumber>
          <IntegerDataGeneratorMaxValueitemNumber>5</IntegerDataGeneratorMaxValueitemNumber>
          <IntegerDataGeneratorStepValueitemNumber>1</IntegerDataGeneratorStepValueitemNumber>
          <IntegerDataGeneratorConsequentValuesitemNumber>true</IntegerDataGeneratorConsequentValuesitemNumber>
          <escapeSpaceSequence/>
        </con:configuration>
      </con:dataSource>
      <con:name>Data Source 3</con:name>
      <con:property>itemNumber</con:property>
    </con:dataSource>
  </con:dataSources>
  <con:headerValidator type="NONE"/>
</con:restMockService>
